@page
@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Your restaurnt was not found in list.</h1>
<a asp-page="./List" class="btn btn-primary">See All Restaurants</a>

